@model projeto_pet_shop_bd1_2021.Models.Pessoas.Pessoa

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoLogradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoLogradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoNumero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoNumero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoComplemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoComplemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoCep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoCep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoCidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoCidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEstado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
